.portfolio {
  margin-bottom: 70px;
}

@media screen and (min-width: 650px ) {
  .portfolio {
    margin: 0 auto;
    max-width: 668px;
  }
}

@media screen and (min-width: 900px ) {
  .portfolio {
    max-width: 1140px;
    margin-bottom: 105px;
  }
}

.portfolio__heading {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  padding-bottom: 20px;
}

@media screen and (min-width: 650px ) {
  .portfolio__heading {
    font-size: 18px;
    padding-bottom: 29px;
  }
}

.portfolio__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.porfolio__item {
  padding: 20px 0 19px;
  border-bottom: 1px solid #E6E6E6;
}

.porfolio__item:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  text-decoration: none;
  color: #000 ;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 650px ) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (min-width: 900px ) {
  .portfolio__link {
    font-size: 30px;
  }
}

.portfolio__arrow {
  position: relative;
  top: -2px;
  right: 4px;
}

@media screen and (min-width: 650px ) {
  .portfolio__arrow  {
    width: 20px;
    top: 1px;
    right: 6px;
  }
}


